<div class="topnav">
  <img src="../favicon.ico" class="headerImg" />
  <a>&nbsp;&nbsp;&nbsp;&nbsp;Student Report View</a>
</div>
<div class="container mt-5">
  <div class="divFileUpload">
    <label for="fileUpload" class="file-upload">Import Report</label>
    <br />
    <span id="importState" class="importStatus"></span>
      <input type="file" id="fileUpload" class="file-upload" (change)="importData($event)" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
  </div>
  <label style="font-weight: bold;" class="file-upload" (click)="deleteDb()">Reset API</label>  
  <br />
  <br />
  <br />
  <br />
  <div  *ngFor="let grade of gradeList" class="divOuter" >
  <div class="grade" id="{{grade}}">
      <div *ngFor="let student of Students" class="divOuter">
          <div class="subject" id="{{student.grade+student.subject}}" *ngIf="student.grade==grade">
              <p>{{student.subject}}</p>
          </div>
      </div>
      <p class="gradeText">Grade {{grade}}</p>
  </div>
</div>
  <div class="slidecontainer">
    <h2 *ngIf="gradeList.length==0" style="text-align: center;color:#3a80c1;">API Server is either not running or no data is present!</h2>
      <input  *ngIf="gradeList.length>0"  type="range" min="0" step="10" max="40" value="0" class="slider" id="sliderVal" (change)="selectSubjects()" />
  </div>
  <table class="table table-striped report-table">
      <thead *ngIf="gradeList.length>0">
          <tr>
              <th>Grade</th>
              <th>Subject</th>
              <th>Score</th>
          </tr>
      </thead>
      <tbody *ngFor="let student of Students">
          <tr *ngIf="student.grade==gradeSelected">
              <td>{{ student.grade }}</td>
              <td>{{ student.subject }}</td>
              <td>{{ student.score }}</td>
          </tr>
      </tbody>
  </table>
</div>
